#filters{
  margin-bottom: 50px;

  select{
    outline: none;

    &:focus{
      outline:none;
    }
  }
  .filter-buttons {
    .form-group{
      margin-bottom: 0;
      //margin-left: 14px;
      //padding: 0;
    }
  }
}
.filter-title{
  margin-top:42px;
  color: $mainBlue;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 32px;
}

.btn-orange{
  color:#fff;
  background: $filterButtonBg;
  &:before{
   // content: "\f30b";
    font: normal normal normal 14px/1 FontAwesome;
  }
}

.filter-button-title{
  margin-top:32px;
  margin-bottom:32px;
  color: $mainBlue;
}

