
#main-menu {
  padding: 24px 0 30px 0;
  margin-bottom: 0;
  & > div {
    & > ul {
      & > li {
        & > a {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 600;
          &:hover {
            color: $activeMenuColor;
            @include transition(color 800ms linear);
          }
        }
      }
    }
  }

  .dropdown-toggle {
    &:after {
      margin-left: 5px;
      vertical-align: 0.15em;
      font-size: 16px;
      color: #333;

    }
    & > {
      li {
        &:last-child {
          border: 0;
        }
      }
    }
  }

}