body{
    overflow-x: hidden;
}

#dl-menu{
    display: none;
}

.dl-menuwrapper {
    width: 100%;
    max-width: 300px;
    float: left;
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    display: none;
    z-index: 1002;
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}

.dl-menuwrapper button {
    background: #eee;
    border: none;
    width: 100%;
    height: 45px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    color: #2b2a29;
    text-transform: uppercase;
    text-align: left;
    padding-left: 60px;
    -moz-border-radius: 25px;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: #aaa;
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #2b2a29;
    top: 14px;
    left: 20px;
    box-shadow: 0 7px 0 #2b2a29,          0 14px 0 #2b2a29;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;
}

.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #2b2a29;
    outline: none;
    text-transform: uppercase;
}

.no-touch .dl-menuwrapper li a:hover{
    background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    speak: none;
    -webkit-font-smoothing: antialiased;
    line-height: 40px;
    font-size: 10px;
    font-family: 'FontAwesome';
    content: "\f054";
    color: #888 !important;
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: rgba(212,204,198,0.3);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
    right: 10px;
    color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
    margin: 5px 0 0 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.dl-menuwrapper li .dl-submenu {
    display: none;
}

.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0;
}

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    -moz-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimOut2 {
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut2 {
    100% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut2 {
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    -moz-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn2 {
    0% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn2 {
    0% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut2 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut2 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}



.dl-menuwrapper button {
    background: #eee;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: #eee;
}

@media only screen and (max-width: 479px) and (min-width: 320px){

    .navbar-nav{
        display: none;
    }

    .main-nav{
        background: none;
        margin-top: 0 !important;
    }
    .main-nav .row {
    margin: 0px;
    }
    
    .main-nav .col-md-12 {
        background: #eeeeee;
    }

    .navbar-header{
        padding-left: 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: 100%;
    }

    #dl-menu{
        display: block;
    }

    .dl-menuwrapper{
        max-width: 100%;
        float: left;
    }




.col-md-3.col-xs-12 {
    position: relative;
    height: 100px;
    overflow: hidden;
}

.logo_img {
    width: 100%;
    left: 0;
}

.logo_img a {
    display: flex;
    justify-content: center;
}

div#main-slider {
    display:  none;
}

.filters {
    background: #005ea8;
}

.filters .font-weight-bold {
    display: block;
    margin: auto;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 25px;
    color: #ffffff;
}

.filters p {
    width: 100%;
    color: #eeeeee;
}

form {
    display:  block;
}


.col-md-3.col-12.form-group.no-padding {
    margin-left: 0px;
    margin-bottom: 10px;
}

.input-group {
    justify-content: center;
}

.text-center.filter-title {
    padding-top: 35px;
    padding-bottom: 30px;
}

.filters .filters-form {
    padding-bottom: 30px;
}

.logo_img a img {
    height: 85px;
}

.navbar {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.input-group {
    justify-content: center;
    margin-top: 30px;
}

.container-fluid {
    padding: 0px;
}

.house-image-wrapper {
    margin-left: 0px;
    padding: 0;
}

.house-description {
    margin: 60px 0px 0px;
    padding:0px 15px;
}

.blue-square {
    margin-top: 0px;
    transform: none;
    right: 0px;
}
    
.blue-square .blue-square-content {
    transform: none;
    color: #fff;
}
.flex {
    display: block;
}
.col-md-4.girl-image-wrapper {
    display: none;
}

.girl-text-wrapper h4 {
    font-size: 18px;
}

.girl-text-wrapper ul {
    display: block;
}

.girl-text-wrapper ul li {
    width: 100%;
    margin-bottom: 25px;
}

.girl-text-wrapper ul li p:first-child {
    font-size: 14px;
}

.girl-text-wrapper ul li p:last-child span {
    font-size: 24px;
}

.girl-text-wrapper ul li p:last-child span sup {
    font-size: 20px;
}
.middle-blue {
    min-height: 300px;
}
.blue-square .blue-square-content h4 {
    font-size: 24px;
}
.title-section {
    font-size: 18px;
}
.wooningen-link {
    margin-top: 10px;
}

col-md-15 {
    width:  100%;
}

.col-md-15 img {
    width: 100%;
}
.text-content-full {
       transform: none;
    min-height: 350px;
    right: 0px;
    height: auto;
    margin-top: 0px;
}


.text-content-full .blue-square-content {
    transform: none;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .navbar-nav{
        display: none;
    }

    .main-nav{
        background: none;
        margin-top: 0 !important;
    }

    .navbar-header{
        padding-left: 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: 100%;
    }

    #dl-menu{
        display: block;
    }

    .dl-menuwrapper{
        max-width: 230px;
        float: left;
    }

 
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .navbar-nav{
        display: none;
    }

    .main-nav{
        background: none;
        margin-top: 0 !important;
    }

    .navbar-header{
        padding-left: 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: auto;
        min-width: 450px;
        padding-top: 20px;
    }

    .logo img{
        margin: 0 auto 15px;
    }

    #dl-menu{
        display: block;
        max-width: 380px;
    }

    .dl-menuwrapper{
        max-width: 380px;
        float: left;
    }
    
}
@media only screen and (min-width: 992px) and (max-width: 1024px){
  

}


@media only screen and (max-width: 1999px) and (min-width: 992px){



}

@media screen and (max-width: 768px) {
   .right-top-menu{
   display:none;
   }
}