.title-section {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 44px;
  color: $mainBlue;
  margin-top: 48px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}



.wooningen-link {

}


.wooningen-link {
  text-align: center;
  margin-top: 52px;
  background: #013c70;
  width: 150px;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  color: #fff;

}