/*
Define some variables
*/
$transactionTime: 0.8s;
$fa-font-path: "~font-awesome/fonts";
$owl-image-path: "~owl.carousel/src/img/";

/*
  start Plugins
*/

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "plugins/css3-mixins";
@import "~owl.carousel/src/scss/owl.carousel";
@import "~owl.carousel/src/scss/theme.default";

/*
  end plugins
*/

@import "partials/fonts";
@import "partials/colors";

@import "modules/holandia.scss";
@import "modules/main-menu";
@import "modules/top-menu";
@import "modules/main-slider";
@import "modules/filters";
@import "modules/house-section.scss";
@import "modules/middle-blue-block";
@import "modules/wooningen";
@import "modules/houses-carousel";
@import "modules/responsive.scss";

select.form-control:focus {
  outline: none;
  box-shadow: none;
}
